#swipes-list-container {
    z-index: 1000;
    background-color: transparent;
    border-radius: 15px;

    display: none;
    position: absolute;
    right: 50px;
    top: -5px;
    width: 200px;
}

#swipes-list-select {
    padding-block: 6px;
	padding-inline: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 100%;
}
